h1 {
    font-size: 35px;
}

a {
    color: gray;
    font-size: 25px;
}

.links {
    max-width: 400px;
    margin: 0 auto;
    padding: 7px;
    border: 1px solid gray;
    border-radius: 20px;
    text-align: center;
}

