.listacompras {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    border: 1px solid gray;
    border-radius: 20px;
    text-align: center;
}

ul {
    display: inline-block;
}

a {
    color: gray;
    font-size: 20px
}